%% -*- mode: erlang;erlang-indent-level: 4;indent-tabs-mode: nil -*-
%% ex: ts=4 sw=4 ft=erlang et

{erl_opts,
[
    {i, "extra-include"},
    {i, "deps/gpb/include"},
    {src_dirs, ["src", "extra-src"]},
    {platform_define, "R13|R14", 'NO_CALLBACK_ATTRIBUTE'}
]}.

{deps,
    [
        {gpb, [], {git, "git://github.com/tomas-abrahamsson/gpb",
                        {branch, "master"}}}
    ]}.

{proto_opts,
[
    {proto_dir, "proto", non_recursive,
    [
        {i, "."},
        {o_erl, "extra-src"},
        {o_hrl, "extra-include"},
        {module_name_suffix, "_pb"}
    ]},
    {proto_dir, "proto/a/b", non_recursive,
    [
        {i, "."},
        {o_erl, "extra-src"},
        {o_hrl, "extra-include"},
        {module_name_suffix, "_pb1"}
    ]},
    {proto_dir, "proto/c", recursive,
    [
        {i, "."},
        {o_erl, "extra-src"},
        {o_hrl, "extra-include"},
        {module_name_suffix, "_pb2"}
    ]}
 ]}.
